@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;

}
header{
    width:100%;
    position: fixed;
    padding: 10px 100px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background:rgba(255, 255, 255, 0.9)
}
header .logo a{
    font-size: 60px;
    text-decoration: none;
    color:black;
}
header .logo a span{
    color:#E51259;
    font-weight: bold;
    font-size: 70px;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin-right: 2rem;
}
header ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
header ul li a:hover{
    color:#E51259;
    transition: 0.5s;
}
header ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #E51259;
    display: block;
    margin: auto;
    transition: 0.4s;}
header:hover li a:hover::after{
        width: 100%; 
    }
header .shop a{
    margin-left: 20px;
    font-size: 20px;
    color: black;
}
header .shop a:hover{
    color: #E51259;
    transition: 0.5s;
}
.back{
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background: url(img/3.jpg) rgba(0, 0, 0, 0.8);
    background-size: cover;
}
.back .rg{
    width: 100%;
    /* position: relative; */
    justify-content: center;
    height: 100vh;
    display: flex;
    /* text-align: center; */
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}
.back .rg .content{
    max-width: 900px;
    text-align: center;
}
.back .rg .content h1{
    font-size: 50px;
    color: #EEF4F4;

}
.back .rg .content h2{
    font-size: 20px;
    color: #EEF4F4;
    margin-top: 20px;
}
.back .rg .content button{
    padding: 10px 30px;
    margin-top: 30px;
}

.collection{
    padding: 100px;
    background-color: thistle;
}
.collection .info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.collection .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.collection .content .box{
    width: 340px;
    height: 300px;
    margin-top: 20px;
    border: 15px solid #fff;
    box-shadow:0 5px 35px rgb(0 0 0 / 8%);
    background:url(/img/1.jpg);
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: 10px;
}
.collection .content .box .bg .title{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.collection .content .box .title{
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 25%;
}
.collection .content .box .title h2{
color: cornsilk;
}
.collection .content .box .title p{
    color: cornsilk;
}

.collection .content .box .title small{
    color: white;

}
footer{
    background: url(img/4.jpg);
    background-size: cover;
}
.content-about{
    padding: 100px;
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);

}
.content-about .bg-rg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    width: 100%;
}

.content-about .bg-rg .box{
    padding: 30px;
}
.content-about .bg-rg .box:first-child{
    padding-left: 0;
}
.content-about .bg-rg .box1 li i{
    margin-right: 10px;

}

.content-about .bg-rg .box h1{
font-size: 20px;
margin-bottom: 20px;
color:#E51259;
}
.content-about .bg-rg .box p{
    font-size: 15px;
    color:white;
}
.content-about .bg-rg .box li{
    list-style: none;
    margin-top: 10px;
   
  
}
.content-about .bg-rg .box li a{
    text-decoration: none;
    font-size: 15px;
    color:white;
}
.content-about .bg-rg .box li a:hover{
    color: #E51259;
    transition: 0.5s;
}
.content-about .bg-rg .box h2{
    font-size: 20px;
    color:#E51259;
}
