@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top .container{
 display: flex;   
 padding: 10px  200px 0;
 flex-direction: row-reverse;
 text-align: center;
}
.top .container ul{
    display: flex;
}
.top .container ul li{
    list-style: none;
    margin-left: 15px;
}
.top .container ul li a{
    text-decoration: none;
}
.bottom .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 200px;
}
.bottom .container .nav ul{
    display: flex;
}
.bottom .container .nav ul li{
    list-style: none;
    margin-left: 15px;
}
.bottom .container .nav ul li a{
    text-decoration: none;
    
}




.banner .container{
    width: 100%;
    
    
}
.banner .container .slider{
    overflow: hidden;
    position: relative;
    width: 100%;
    
    
}
.banner .container .slider:hover  .next{
    display: block;
    transition: 0.5s;
    right: 20px;
    transition-duration:0.5s;
}
.banner .container .slider:hover  .prev{
    display: block;
    left:20px;

    
}
.banner .container .slider .img-slider .slide{
    display: none;
    position: relative;
}
.banner .container .slider .img-slider .slide .info{
    position: absolute;
    display: block;
    top: 20%;
    right: 60px;
    width: 40%;
}
.banner .container .slider .img-slider .slide .info h1{
    font-size: 40px;
    font-weight: 400;
}
.banner .container .slider .img-slider .slide .info p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
   

}
.banner .container .slider .img-slider .slide .info button{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgb(205, 35, 52);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    
}

.banner .container .slider .img-slider img{
    max-width: 100%;
    display: block;
    
   
}
.banner .container .slider .img-slider .active{
    display: block;
}
.banner .container .slider  .next{
    position: absolute;
    color: rgb(205, 35, 52);
    font-size: 70px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    right: 0;
    display: none;
    

    
}

.banner .container .slider  .prev{
    position: absolute;
    color: rgb(205, 35, 52);
    font-size: 70px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    left: 0;
    display: none;
    transition-duration:0.5s;
}


.content-health .container{
    display: flex;
    flex-direction: column;
}
.content-health .container .main{
    width: 100%;
    padding: 0 150px;
    position: relative;
    
}
.content-health .container .main .main-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(205, 35, 52);
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
}
.content-health .container .main .main-box .box{
    text-align: center;
    
    margin-right: 10px;
    padding: 30px 30px;
    min-width: 210px;
}
.content-health .container .main .main-box .box:last-child{
    margin-right: 0;
}
.content-health .container .main .main-box .box img{
width: 85px;
height: 85px;
text-align: center;
}
.content-health .container .main .main-box .box h1{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    }
    .content-health .container .main .main-box .box p{
        font-weight: 300;
        font-size: 13px;
        color: #fff;
        margin-bottom: 10px;
        }

        .content-health .container .main .main-box .box button{
            padding: 10px 20px;
            background-color: rgb(205, 35, 52);
            color: rgb(255, 255, 255);
            border: 1px solid #fff;
            cursor: pointer;

            }
    
.content-health .container .main2{
    margin-top: 175px;
    text-align: center;
}




















@media only screen and (max-width:1295px){
    
    .bottom .container {
        padding: 0 85px;
    }
    .top .container {
        padding: 7px 85px 0;
    }
    .banner .container .slider .img-slider .slide .info {
        top: 12%;
        right: 60px;
    }
    .banner .container .slider .img-slider .slide .info h1 {
        font-size: 23px;
    }
    .banner .container .slider .img-slider .slide .info p {
        font-size: 15px;
        margin-top: 13px;
    }
    .banner .container .slider .img-slider .slide .info button {
        padding: 6px 13px;
        margin-top: 15px;
    }
    .banner .container .slider .next {
        font-size: 50px;
    }
    .content-health .container .main2 {
        margin-top: 150px;
    }
    .content-health .container .main .main-box {
        display: flex;
        flex-direction: row;
        flex-wrap: unset;
        justify-content: center;
        top: -100px;
    }
        .content-health .container .main .main-box .box {
            padding: 15px 8px;
            min-width: 175px;
        }
        .content-health .container .main .main-box .box img {
            width: 70px;
            height: 70px;
        }
        .content-health .container .main .main-box .box h1 {
            font-size: 17px;
        }
        .content-health .container .main .main-box .box p {
            font-size: 12px;
            margin-bottom: 7px;
        }
        .content-health .container .main .main-box .box button {
            padding: 5px 15px;
        }
    
}