@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D212B;
}
.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    background: #1D212B;
}
.img-slider .slide{
        z-index: 1;
        position: absolute;
        width: 100%;
    } 
/* .img-slider .slide img{
    z-index:1;
    width: 100%;
    border-radius: 5px;

} */